#custom-switch + label {
  color: #00e9bc;
}

#custom-switch {
  box-shadow: none;
}

#custom-switch {
  background-color: #ececec;
}

#custom-switch:checked {
  background-color: #f7427f;
}

.image-input::-webkit-file-upload-button {
  box-shadow: none;
  color: #ececec;
  background-color: transparent;
}

.image-input::-webkit-file-upload-button:hover {
  box-shadow: none;
  color: #ececec;
  background-color: transparent;
}

.image-input:hover {
  background-color: transparent;
}

.image-input:active {
  box-shadow: none;
  color: #00e9bc;
}

.uploaded-images {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 12px;
}

.image-count {
  color: #00e9bc;
  font-size: 15px;
  margin: 5px;
}
