.title {
  text-transform: uppercase;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
  margin: 0px 70px;
}

.form-group {
  min-width: 800px;
}

.tab {
  padding: 15px 100px;
}

.icon-container {
  border: 1px solid red;
}

.input-container {
  border: 1px solid green;
}

.form-select {
  background-color: transparent;
  color: #ececec;
  border: 1px solid #00e9bc;
}

option:not(:checked) {
  background-color: #1f2022 !important;
}

option:checked {
  background: #1f2022 !important;
}

.floating-label {
  color: #ececec;
  margin: 5px 0px;
}

.btn-container {
  padding: 20px 0px;
}

.btn {
  margin: 0px 15px;
  background-color: transparent;
  border: 1px ridge #00e9bc;
  border-radius: 10px;
}

.icon-btn {
  color: #00e9bc;
  font-size: 1.8rem;
}
