.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.table-container {
  padding: 20px 55px;
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.create-btn {
  font-size: 14px;
}

.view-icon {
  font-size: 23px;
}
