.nav-container {
  max-width: 150px;
  margin-left: 15px;
}

.accordion-button {
  background-color: #1f2022 !important;
  color: #1ce5be;
}

.accordion-button:focus {
  box-shadow: none;
  border: none !important;
}

.accordion-button:not(.collapsed) {
  color: #ff5783;
}

.accordion-body {
  background-color: #1f2022;
  border: none !important;
}
