.report-body {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.car-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-details {
  max-width: 600px;
}

.car-model {
  color: #ff5783;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.car-img {
  width: 220px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  padding-bottom: 15px;
}

.tab {
  display: flex;
  flex-direction: column;
}

.report-label {
  color: #ff5783;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.report-value {
  color: #ececec;
  font-size: 16px;
  margin-right: 18px;
}

.checklist-value {
  display: flex !important;
  flex-direction: column !important;
}

.image-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.report-imgs {
  width: 150px;
  margin: 10px 10px;
}
